/*Elements principaux de la page*/

body
{
    font-family: 'Source sans Pro', Calibri, Tahoma, sans serif;
}

/*Header*/

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo img
{
    width: 60px;
    height: 60px;
}

/*Navigation*/
nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px
}

nav a
{
    font-size: 1.3em
    padding-bottom: 2px;
    text-decoration: none;
    color: #603808
}

nav a:hover
{
    color: #bc8a5f;
    border-bottom: 2px solid #760001;
}

/*banniere*/
.firstbanner
{
    margin-top: 15px;
    height: 850px;
    width: auto;
    background: url("Images/firstbanner.jpg") no-repeat;
    position: relative;
    margin-bottom: 25px;
}
.secondbanner
{
    margin-top: 15px;
    height: 400px;
    width: auto;
    background: url("Images/secondbanner.png") no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

.welcome
{
    margin-top: 75px;
    text-align: center;
    color: white;
    font-size: 40px;
    z-index: 1;
}
.citation
{
    padding-top: 230px;
    text-align: center;
    color: white;
    font-size: 30px;
    z-index: 1;
}